body{
    width: 100%;
    height: 100vh;
    margin:0;
    padding: 0;
    background-color: darkorchid;
}
.container{
    width: 600px;
    height: 800px;
    background-color:grey;
    margin: auto;
    padding-top: 20px;
    margin-top: 20px;
}
.img{
    width: 10px;
    height: 10px;
   }
.logo-mark{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
 .button-group{
        display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    }
    h2{
        text-align: center;
       }
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .Upload-Avatar{
        display: flex;
        justify-content: center;
        margin: 0%;
    }
    

